@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cozette';
  src: url('/font/CozetteVector.woff') format('woff'),
       url('/font/CozetteVector.ttf') format('truetype');
}

@font-face {
  font-family: 'Cozette';
  font-weight: bold;
  src: url('/font/CozetteVectorBold.woff') format('woff'),
       url('/font/CozetteVectorBold.ttf') format('truetype');
}

body {
  color: white;
  background-color: #1f1c23;
  height: 100dvh;
  width: 100dvw;
  font: 1.5rem 'Cozette', monospace;
}